:root {
    --dark-blue-1: hsl(209, 23%, 22%);
    --dark-blue-2: hsl(207, 26%, 17%);
    --dark-blue-3: hsl(200, 15%, 8%);
    --dark-gray: hsl(0, 0%, 52%);
     --medium-gray: hsl(0, 0%, 85%);
    --light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --paddingBase: 20px;
    --radiusBase: 5px;
    --shadowBase-light: 1px 1px 10px var(--medium-gray);
}
