.container {
    cursor: pointer;
    padding: var(--paddingBase) calc(var(--paddingBase) * 1.2);
    user-select: none;
}

.container:hover {
    background-color: var(--medium-gray);
}

.selected,
.selected:hover {
    color: var(--white);
    background-color: var(--dark-blue-1);
}