.container {
    position: relative;
    display: inline-flex;
}

.selectContainer {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
    border: 1px solid var(--light-gray);
    padding: var(--paddingBase) calc(var(--paddingBase) * 1.2);
    border-radius: var(--radiusBase);
    box-shadow: var(--shadowBase-light);
}

.optionsContainer {
    position: absolute;
    background-color: var(--white);
    box-shadow: var(--shadowBase-light);
    border-radius: var(--radiusBase);
    left: 0;
    /* calculated position from top based on padding top and bottom + 2 px border + font-size */
    top: calc(((var(--paddingBase) * 2) + 2px + 1em) + 6px);
}