.container {
    display: inline-flex;
    flex-direction: column;
    cursor: pointer;
    user-select: none;
    border: 1px solid var(--light-gray);
    padding: var(--paddingBase) calc(var(--paddingBase) * 1.2);
    border-radius: var(--radiusBase);
    box-shadow: var(--shadowBase-light);
    margin: var(--paddingBase);
}