.container {
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--white);
    background-color: var(--dark-blue-1);
    border-radius: 5px;
    box-sizing: border-box;
}

.textContainer {
    padding: 20px;
}

.flag {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

h2 {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 5px 0;
}