.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 2%;
    row-gap: 25px;
}

.item {
    flex-basis: 23%;
    height: 100%;
}

.cardContainer {
    height: 100%;
}

@media screen and (max-width: 960px) {
    .item {
        flex-basis: 31%;
    }
}

@media screen and (max-width: 720px) {
    .item {
        flex-basis: 48%;
    }
}

@media screen and (max-width: 480px) {
    .item {
        flex-basis: 100%;
    }
}