.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 2%;
    row-gap: 25px;
}

.item {
    flex-basis: 23%;
    height: 100%;
}

.cardContainer {
    height: 100%;
}