.container {
    display: inline-flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--dark-blue-1);
    background-color: var(--white);
    border-radius: var(--radiusBase);
    box-sizing: border-box;
    box-shadow: var(--shadowBase-light);
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border-color .2s;
}

.container:hover {
    border: 2px solid var(--dark-blue-1);
}

.textContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 20px;
}

.flag {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 200px;
    width: 100%;
}

h2 {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 5px 0;
}
